In [2]:
import pandas as pd
import numpy as np

In [5]:
# Task 1 : Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation).

In [3]:
random_values = np.random.rand(4,4)
df = pd.DataFrame(random_values)
print("\nDataFrame with Random Values :\n")
df

DataFrame with Random Values :

          0         1         2         3
0  0.246891  0.171750  0.566832  0.640477
1  0.571748  0.853945  0.843305  0.790122
2  0.566932  0.884452  0.512406  0.372020
3  0.245257  0.130855  0.355852  0.623430

In [10]:
# Task - 2 : Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'.

In [4]:
df.columns = ['Random Value 1','Random Value 2','Random Value 3','Random Value 4']
print("\nDataFrame with Renamed Column Names :\n")
df

DataFrame with Renamed Column Names :

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.246891        0.171750        0.566832        0.640477
1        0.571748        0.853945        0.843305        0.790122
2        0.566932        0.884452        0.512406        0.372020
3        0.245257        0.130855        0.355852        0.623430

In [20]:
# Task 3 : Find the descriptive statistics of the 'df' dataframe.

In [5]:
descriptive_stats = df.describe()
print("\nDescriptive Statistics of the DataFrame :\n")
descriptive_stats

Descriptive Statistics of the DataFrame :

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.407707        0.510251        0.569599        0.606512
std          0.186649        0.415001        0.203209        0.173339
min          0.245257        0.130855        0.355852        0.372020
25%          0.246483        0.161526        0.473268        0.560577
50%          0.406912        0.512848        0.539619        0.631953
75%          0.568136        0.861572        0.635951        0.677888
max          0.571748        0.884452        0.843305        0.790122

In [27]:
# Task 4 : Check for the null values in 'df' and find the data type of the columns.

In [6]:
null_values = df.isnull()
print("\nNull Values of Columns :\n")
print("Null Values :\n")
print(null_values)
null_values = df.isnull().sum()
print("\nNull Value Sum of Columns :\n")
print("Null Values :\n")
print(null_values)
data_types = df.dtypes
print("\nData Types :\n")
print(data_types)

Null Values of Columns :

Null Values :

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Null Value Sum of Columns :

Null Values :

Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

Data Types :

Random Value 1    float64
Random Value 2    float64
Random Value 3    float64
Random Value 4    float64
dtype: object

In [36]:
# Task 5 : Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [8]:
random_values_2_3_loc = df.loc[:,'Random Value 2':'Random Value 3']
print("\nDisplaying 'Random Value 2' and 'Random Value 3' columns using Location Method :\n")
random_values_2_3_loc

Displaying 'Random Value 2' and 'Random Value 3' columns using Location Method :

   Random Value 2  Random Value 3
0        0.171750        0.566832
1        0.853945        0.843305
2        0.884452        0.512406
3        0.130855        0.355852

In [10]:
random_values_2_3_iloc = df.iloc[:,1:3]
print("\nDisplaying 'Random Value 2' and 'Random Value 3' columns using Index Location Method :\n")
random_values_2_3_iloc

Displaying 'Random Value 2' and 'Random Value 3' columns using Index Location Method :

   Random Value 2  Random Value 3
0        0.171750        0.566832
1        0.853945        0.843305
2        0.884452        0.512406
3        0.130855        0.355852